<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BookSystem-0.0.1</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!--  -->
  
  <!--定义核心Filter FilterDispatcher -->
  <filter>
	<!-- 定义核心Filter的名称 -->
	<filter-name>struts2</filter-name>
	<!--定义核心Filter的实现类 -->
	<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
  </filter>
  
  <filter-mapping>
	<!--核心Filter的名称 -->
	<filter-name>struts2</filter-name>
	<!--使用该核心Filter来接受所有的Web请求 -->
	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 添加对spring的支持 -->  
	<context-param>  
		<param-name>contextConfigLocation</param-name>  
		<param-value>classpath:applicationContext.xml</param-value>  
	</context-param>  
	   
	<!-- 定义Spring监听器，加载Spring  -->
	<listener>  
	    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>  
	</listener>  
</web-app>